<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include templates/navbar %>
    <h1><%= title %></h1>
    <p>My name is <%= name %></p>
    <p>Pets that <%= name %> owns:</p>
    <ul>
    <% for (var i = 0; i < petNum; i++) { %>
      <li>Doge</li>
    <% } %>
    </ul>
  </body>
</html>