<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<% include templates/navbar %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <ul>
    <% for (category in categories) { %>
    	<li><%= category %></li>
    <% } %>
	</ul>
  </body>
</html>
