#header {
	float: right;
}

#name {
	margin: 10px 10px;
}

#gmail {
	margin: 10px 10px;
}

#images {
	margin: 10px 10px;
}

#drive {
	margin: 10px 10px;
}

#plus {
	margin: 10px 10px;
}

#drive_icon {
	width: 20px;
	height: 20px;
}

#plus_icon {
	width: 20px;
	height: 20px;
}

#main_content {
	clear: both;
}

#google_logo {
	position: relative;
	top: 100px;
	left: 500px;
}

#logo {
	width: 300px;
	height: 100px;
}

#search_bar {
	position: relative;
	top: 100px;
	left: 350px;
}

#bar {
	width: 600px;
}

#search_buttons {
	position: relative;
	top: 120px;
	left: 520px;
}

#google_search_button {
	margin-right: 10px;
}

#footer {
	position: relative;
	top: 350px;
	left: 0;
}

#left {
	float: left;
}

#right {
	float: right;
}

#advertising {
	margin: 10px 10px;
}

#business {
	margin: 10px 10px;
}

#about {
	margin: 10px 10px;
}

#privacy {
	margin: 10px 10px;
}

#settings {
	margin: 10px 10px;
}

#use_google {
	margin: 10px 10px;
}

