#content {
	float: left;
	top: 0;
	left: 0;
	width: 600px;
}

#form_section {
	float: right;
}

#girl_section {
	clear: both;
}

#beautiful_girl {
	position: relative;
	top: 0;
	left: 500px;
}

p {
	color: red;
	letter-spacing: 0.5em;
	word-spacing: 2em;
	line-height: 0.5em;
	text-align: center;
}

a:link {
	color: blue;
}

body {
	background-color: white;
	background-image: url(http://images6.alphacoders.com/316/316963.jpg);
	background-repeat: no-repeat;
	background-position: top left;
	background-size: 3000px 3000px;
	font-family: helvetica, arial, sans-serif;
	font-size: 14px;
	color: navy;
}

h1 {
	font-size: 2em;
	color: #ffc;
	background-color: #009;
}

h2 {
	font-size: 1.5em;
	background-color: #ccc;
	margin: 20px;
	padding: 40px;
	border-style: dashed;
	border-width: 3px;
	border-left-width: 10px;
	border-right-width: 10px;
	border-color: red;
}

a {
	text-decoration: none;
}

strong, em {
	font-style: italic;
	font-weight: bold;
	text-transform: uppercase;
	font-family: sans-serif;
	color: #f67;
	font-size: 24px;
}

#okay {
	color: #c55;
	font-size: 15px;
	background-color: #000;
	font-family: sans-serif;
	text-transform: uppercase;	
}

#okay dd {
	color: #f00;
}

p.beautiful {
	color: #dff;
	font-size: 30px;
	background-color: #f00;
}

a:visited {
	color: green;
}

a:hover {
	text-decoration: none;
	color: red;
	background-color: black;
}

a:active {
	color: red;
}

input:focus, textarea:focus {
	background: #eee;
}

h1:first-child {
	font-family: sans-serif;
}

#table {
	margin: 10px 20px 10px 20px;
	padding: 10px 30px 30px 10px;
	border: 2px black dotted;
	border-color: red green blue yellow;
}

#main_nav::before, #main_nav::after {
	display: block;
	border: 2px red solid;
	content: "WOW!!!";
}

#main_nav ul {
	visibility: hidden;
}